# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\xxpow\OneDrive\HEIG\4eme semestre\GEN\Labo\Labo02\SiteStatique\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
