# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jaden\Documents\HES BA2\S4\GEN_GenieLogiciel\Laboratoires\GEN_Lab01\projet-vallon_groeli_gonzalezleon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
